name: Main CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
      - run: npm run build
      - name: Save build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: node-build-artifact
          retention-days: 1
          path: build

  build_push_image:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: node-build-artifact
          path: build
      - name: Set version
        run: echo "VERSION=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV
      - name: Docker Build Push
        uses: rossmaclean/docker-build-push-action@v0.0.23
        with:
          docker-user: rossmaclean
          image-name: darter
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          version: "${{ env.VERSION }}"
